main>section:nth-of-type(odd), body>article:nth-of-type(odd) .mdl-header{ background-color:#949494; }
main>section:nth-of-type(even), body>article:nth-of-type(even) .mdl-header{ background-color:#c4c4c4; }
main>section:nth-of-type(1), body>article:nth-of-type(1) .mdl-header{ background-color:#0080ed; }
main>section:nth-of-type(2), body>article:nth-of-type(2) .mdl-header{ background-color:#7cb940; }
.Exp{
  height: 388px;
  overflow: hidden;
}
.Exp-header{text-align: center;}
.Exp-logo{
  transform: scale(2);
}
.Exp-h2{
  color:white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

@media (min-width: 630px) {
  .Exp-h2{
    font-size: 35px;
  }
}
.Exp-hero{
  display: block;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform:translateY(40px);
  -ms-transform:translateY(40px);
  -o-transform:translateY(40px);
  transform:translateY(40px);
}
.Exp:hover .Exp-hero{
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  -o-transform:translateY(0);
  transform:translateY(0);
}
.Exp.on .Exp-hero{
  -webkit-transform:translateY(200px);
  -ms-transform:translateY(200px);
  -o-transform:translateY(200px);
  transform:translateY(200px);
}

.modal{
  display: none;
  position: absolute;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  top:100%;
  right:0;
  left:0;
  height: 0;
}
.modal.show{
  display: block;
}

.mdl-content{
  background-color: #f9f6ea;
  min-height: 100vh;
}
.mdl-header{
  text-align: center;
  position: relative;
  color:white;
  padding-top: 1px;
  min-height: 388px;
}
.close{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width:80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  -webkit-transform-origin: 40px 40px;
  -moz-transform-origin: 40px 40px;
  -ms-transform-origin: 40px 40px;
  -o-transform-origin: 40px 40px;
  transform-origin: 40px 40px;
}
.close:hover{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mdl-logo{
  transform: scale(2);
}
.mdl-h2{
  color:white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

@media (min-width: 630px) {
  .mdl-h2{
    font-size: 55px;
    letter-spacing: -2px;
  }
}

.mdl-body{
  text-align: center;
  padding: 15px;
}
.mdl-h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

.mdl-body>svg, .mdl-body>img{
  display: block;
  width:1230px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.mdl-body > p{
  margin-top:55px;
  margin-bottom:55px;
}
