.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  display: none;
  opacity: 0.5;
}
.modal-open {overflow: hidden}
.modal {
  position: fixed;
  top:50%;
  bottom:50%;
  right: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  transition: all 0.4s;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-open .active {
  top: 0%;
  bottom: 0%;
}
.modal-dialog {
  position:relative;
  width:auto;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  min-height: 100vh;
}
.modal-header {
  padding: 15px;
  color:#fff;
}
.modal-header h4{
  font-size: 40px;
  margin: 0;
  line-height: 1;
}
.modal-header h4 img{
  height: 99px
}
.close{
  cursor: pointer;
  margin-top: 0;
  transform: rotate(0deg);
  transition: transform 0.5s;
  transform-origin: 16px 21px;
  line-height: 34px;
  font-size: 60px;
  width: 34px;
}
.close:hover{
   transform: rotate(1080deg);
}
.modal-body {
  position: relative;
  padding: 15px;
  text-align: center;
}
.modal-hero{
  width:100%;
  max-width: 800px;

}
.project-article{
  max-width:550px;
  margin:auto;
  text-align: left
}
.project-article h3{
  font-size: 30px
}