/*normal modal*/
.modal-open {overflow: hidden}
.modal {
  position: fixed;
  top:50%;
  bottom:50%;
  right: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  transition: all 0.4s;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-open .active {
  top: 0%;
  bottom: 0%;
}
.modal-dialog {
  position:relative;
  width:auto;
}
.modal-content {
  position: relative;
  background-color: #f9f6ea;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  min-height: 100vh;
}
.modal-header {
  padding: 15px;
  color:#fff;
  position: relative;
  text-align: center;
}

.modal-header h4{
  font-size: 40px;
  margin: 0;
  line-height: 1;
}
.modal-header h4 img{
  height: 99px
}
.close{
  position: absolute;
  top:20px;
  right:20px;
  cursor: pointer;
  margin-top: 0;
  transform: rotate(0deg);
  transition: transform 0.25s;
  transform-origin: 40px 40px;
  width:80px;
  height: 80px;
}
.close:hover{
  transform: rotate(90deg);
}

.modal-body {
  position: relative;
  padding: 15px;
  text-align: center;
}
.modal-hero{
  width:100%;
  max-width: 800px;

}
.project-article{
  max-width:550px;
  margin:auto;
  text-align: left
}
.project-article h3{
  font-size: 30px
}

/*EXP modal*/

.Exp{height: 388px;}
.Exp:not(.full){cursor: pointer;}

.Exp:nth-child(odd) .Exp-header{background: #989898}
.Exp:nth-child(even) .Exp-header{background: #c1c1c1}
.Exp:nth-of-type(1) .Exp-header{background-color:#0080ed}
.Exp:nth-of-type(2) .Exp-header{background-color:#7cb940}
.Exp:nth-of-type(3) .Exp-header{background-color:#939393}
.Exp:nth-of-type(4) .Exp-header{background-color:#c6c6c6}
.Exp:nth-of-type(5) .Exp-header{background-color:#989898}
.Exp:nth-of-type(6) .Exp-header{background-color:#c1c1c1}

.Exp-modal {}
.Exp.full .Exp-modal {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 1050;

}
.Exp-dialog {
  background-color: #f9f6ea;
  top:0;
  right:0;
  left:0;
  height: 388px;
  overflow: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.Exp.full .Exp-dialog {
  position: absolute;
  overflow-y: auto;
}

.Exp-header {
  padding: 15px 15px 0;
  color:#fff;
  position: relative;
  height: 388px;
  transition: height 0.5s;

}
.Exp.full .Exp-header {height: 500px}
.Exp-close{
  position: absolute;
  top:20px;
  right:20px;
  cursor: pointer;
  margin-top: 0;
  transform: rotate(0deg);
  transition: transform 0.25s;
  transform-origin: 40px 40px;
  width:80px;
  height: 80px;  
}
.Exp:not(.full) .Exp-close{display: none;}
.Exp-close:hover{transform: rotate(90deg);}
.downarrow{
  width:80px;
  height:80px;
}
.Exp-title{
  text-align: center;
}
.Exp-title p{
  font-family:'Cormorant Garamond', serif;
  font-size:55px;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}
.Exp:not(.full) .Exp-title p, .Exp:not(.full) .downarrow{display: none;}

.Exp-body {
  padding: 15px;
  text-align: center;
}
.Exp-h3{
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right:auto;
  margin-left:auto;
}
.Exp:not(.full) .Exp-h3{display: none;}

.Exp-hero{
  -webkit-transition: -webkit-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}
.Exp:not(.full) .Exp-hero{
  transform: translateY(-200px);
}
.Exp:not(.full):hover .Exp-hero{
  transform: translateY(-230px);
}
.Exp-body >p, .Exp-body >h4{
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
}
.Exp-body >svg, .Exp-body >img{
  width:1230px;
  margin-top: 50px;
  margin-bottom: 50px;
}