header {
  padding: 1px 0 60px;
  text-align: center;
}

.hero {
  display: block;
  max-width: 300px;
  margin: 125px auto 40px;
}

@media (min-width: 630px) {
  .hero {
    max-width: 400px;
  }
}

.profile-title {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 24px;
  padding: 0 15px;
  max-width: 756px;
  margin: 10px auto 15px;
}

header .profile-title {
  max-width: 784px;
}

.file-links {
  padding: 0 8px;
  margin: 57px auto 94px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.file-links a {
  background-color: #e8e1d8;
  border: 2px solid #cec7bd;
  color: #908a79;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 13px 27px;
  margin: 0 7px;
}

.file-links a:hover {
  background-color: #cec7bd;
  color: #908a79;
  text-decoration: none;
}

.file-links,
.profile-links {
  max-width: 696px;
}

.profile-links {
  padding: 0 15px;
  margin: 10px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header .profile-links {
  margin-top: 40px;
}

.profile-links .a {
  color: #100d2b;
  display: block;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 15px 15px;
}

.profile-links .a span {
  color: #cdcabd;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
}

.profile-links .a:hover {
  color: #827f82;
  text-decoration: none;
}

.downarrow {
  width: 100%;
  height: 80px;
}

.leftarrow {
  width: 80px;
  height: 80px;
  vertical-align: middle;
}

.section-hdr {
  line-height: 1;
  margin: 70px 0;
  text-align: center;
  font-size: 50px;
  letter-spacing: -2px;
  color: black;
  font-family: 'Cormorant Garamond', serif;
}

.flexr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 8px auto;
  max-width: 1010px;
  padding: 0 20px;
}

.grid {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

@media (min-width: 320px) {
  .grid {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
  }
}


/*@media (min-width: 630px) {.grid{-webkit-box-flex: 0; flex: 0 0 33.3333333333%;}}*/

@media (min-width: 640px) {
  .grid {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
  }
}

.grid .img1x1 {
  width: 100%;
  height: auto;
}


/* Common hover effect style */

.grid figure {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  margin: 0;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: none;
  width: calc(100% + 60px);
  opacity: 1;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
  transform: translate3d(-30px, 0, 0) scale(1.12);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure:hover img {
  opacity: 0.5;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

.grid figure figcaption {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure svg {
  width: 90%;
  height: 100%;
}

.videoWrapper {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 900px;
  position: relative;
  height: 508px;
}
@media (max-width:940px){
.videoWrapper {
  height: 0;
	padding-bottom: 56.25%;
}
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
